---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: flux-instance-rules
  namespace: flux-system
spec:
  groups:
    - name: flux-instance.rules
      rules:
        - alert: FluxInstanceAbsent
          expr: |-
            absent(flux_instance_info{exported_namespace="flux-system", name="flux"})
          for: 5m
          annotations:
            summary: >-
              Flux instance metric is absent. Check if Flux is running or if there are issues with Prometheus scraping.
          labels:
            severity: critical

        - alert: FluxInstanceNotReady
          expr: |-
            flux_instance_info{exported_namespace="flux-system", name="flux", ready!="True"}
          for: 5m
          annotations:
            summary: >-
              Flux instance {{ $labels.name }} is not ready. This could indicate issues with deployments or sync state.
          labels:
            severity: critical

        - alert: HelmReleaseReconciliationFailure
          expr: |-
            gotk_resource_info{customresource_kind="HelmRelease", ready!="True"} == 1
          for: 5m
          annotations:
            summary: >-
              HelmRelease {{ $labels.name }} in {{ $labels.exported_namespace }} is not ready. Check resource status, events, and Helm controller logs.
          labels:
            severity: critical

        - alert: KustomizationReconciliationFailure
          expr: |-
            gotk_resource_info{customresource_kind="Kustomization", ready!="True"} == 1
          for: 5m
          annotations:
            summary: >-
              Kustomization {{ $labels.name }} in {{ $labels.exported_namespace }} is not ready. Check status, events, source access, and controller logs.
          labels:
            severity: critical
