---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: seasonpackarr
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: seasonpackarr
  values:
    controllers:
      seasonpackarr:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/nuxencs/seasonpackarr
              tag: v0.14.0@sha256:b8e759b3fb3c9587aafbb5ebcf4a5527245afd35b5893439fd21aea0283c8144
            env:
              TZ: Pacific/Auckland
              SEASONPACKARR__DISABLE_CONFIG_FILE: true
              SEASONPACKARR__PORT: &port 80
              SEASONPACKARR__LOG_LEVEL: INFO
              SEASONPACKARR__SMART_MODE: true
              SEASONPACKARR__SMART_MODE_THRESHOLD: 0.75
              SEASONPACKARR__PARSE_TORRENT_FILE: true
              SEASONPACKARR__FUZZY_MATCHING_SKIP_REPACK_COMPARE: true
              SEASONPACKARR__CLIENTS_DEFAULT_HOST: qbittorrent.default.svc.cluster.local
              SEASONPACKARR__CLIENTS_DEFAULT_PORT: 80
              SEASONPACKARR__CLIENTS_DEFAULT_PREIMPORTPATH: /data/torrents/tv/seasonpackarr
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 256Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1032
        runAsGroup: 100
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    persistence:
      torrents:
        type: nfs
        server: nas.internal
        path: /volume1/data
        globalMounts:
          - path: /data/torrents
            subPath: torrents
      tmp:
        type: emptyDir
