---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
components:
  - ../../components/alerts
  - ../../components/sops
resources:
  - ./namespace.yaml
  - ./autobrr/ks.yaml
  - ./bazarr/ks.yaml
  - ./costanza/ks.yaml
  - ./fusion/ks.yaml
  - ./jellyseerr/ks.yaml
  - ./plex/ks.yaml
  - ./prowlarr/ks.yaml
  - ./qbittorrent/ks.yaml
  - ./qui/ks.yaml
  - ./radarr/ks.yaml
  - ./radarr-se/ks.yaml
  - ./recyclarr/ks.yaml
  - ./sabnzbd/ks.yaml
  - ./seasonpackarr/ks.yaml
  - ./sonarr/ks.yaml
  - ./sonarr-uhd/ks.yaml
  - ./tautulli/ks.yaml
  - ./thelounge/ks.yaml
