---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: radarr-se-cache
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: ceph-block
