---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: costanza
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: costanza-secret
    template:
      data:
        DISCORD_TOKEN: "{{ .DISCORD_TOKEN }}"
        DISCORD_GUILD_ID: "{{ .DISCORD_GUILD_ID }}"
        CHANNEL_REQUESTS_ID: "{{ .CHANNEL_REQUESTS_ID }}"
        CHANNEL_ANNOUNCEMENTS_ID: "{{ .CHANNEL_ANNOUNCEMENTS_ID }}"
        SEERR_BASE_URL: "{{ .SEERR_BASE_URL }}"
        SEERR_WEBHOOK_TOKEN: "{{ .SEERR_WEBHOOK_TOKEN }}"
        TAUTULLI_WEBHOOK_TOKEN: "{{ .TAUTULLI_WEBHOOK_TOKEN }}"
  dataFrom:
    - extract:
        key: costanza
