---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: cert-manager-rules
spec:
  groups:
    - name: cert-manager.rules
      rules:
        - alert: CertManagerAbsent
          expr: |
            absent(up{job="cert-manager"})
          for: 5m
          annotations:
            summary: >-
              cert-manager has disappeared from Prometheus service discovery.
          labels:
            severity: critical

        - alert: CertManagerCertNotReady
          expr: |
            max by (name, exported_namespace, namespace, condition) (certmanager_certificate_ready_status{condition!="True"} == 1)
          for: 5m
          annotations:
            summary: >-
              The certificate {{ $labels.name }} is not ready to serve traffic. This may cause disruptions if it remains unresolved.
          labels:
            severity: critical

        - alert: CertManagerHittingRateLimits
          expr: |
            sum by (host, exported_namespace) (rate(certmanager_http_acme_client_request_count{status="429"}[5m])) > 0
          for: 5m
          annotations:
            summary: >-
              cert-manager is hitting Let's Encrypt rate limits. New certificate requests may be temporarily blocked. Check ACME logs for more details.
          labels:
            severity: critical
